<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pepedd.vue3tsvideoappspringboot.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.pepedd.vue3tsvideoappspringboot.domain.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="videoid" column="videoId" jdbcType="INTEGER"/>
            <result property="user" column="user" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,videoId,user,
        content,date
    </sql>
</mapper>
